@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Macondo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Macondo';    
}

:root {
    --bg-color: rgb(3, 0, 28);
    --card-bg: rgb(48, 30, 103);
    --text-primary: rgb(182, 234, 218);
    --text-secondary: rgb(182, 234, 218);
    --button-hover-bg:rgb(65, 46, 120);
    --border-radius: 8px;
    --transition-time: 0.3s;
}

body {
    font-size: 22px;
    background: var(--bg-color);
    color: var(--text-secondary);
}

.nav {
    text-align: center;
}

a {
    color: var(--text-primary);
    font-size: 46px;
    text-decoration: none;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.search form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.search input {
    flex: 1;
    padding: 10px;
    border: 2px solid var(--text-primary);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--text-secondary);
    font-size: 22px;
    margin-right: 10px;
    transition: var(--transition-time);
}

.search input:focus {
    border-color: var(--card-bg);
    outline: none;
}

.search button {
    background-color: var(--text-primary);
    border: none;
    border-radius: var(--border-radius);
    color: var(--bg-color);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 22px;
    transition: var(--transition-time);
}

.search button:hover {
    background-color: var(--button-hover-bg);
}

.containt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.artist-card {
    background: var(--card-bg);
    border-radius: var(--border-radius);
    border: 2px solid var(--text-primary);
    box-shadow: 0 4px 8px var(--text-secondary);
    overflow: hidden;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform var(--transition-time);
}

.artist-card:hover {
    transform: scale(1.05);
}

.artist-card img {
    margin-top: 15px;
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.artist-card h2 {
    color: var(--text-primary);
    margin: 10px 0;
}

.artist-card p {
    color: var(--text-secondary);
    margin: 10px 0;
}

.artist-card button {
    background-color: var(--bg-color);
    border: none;
    border-radius: var(--border-radius);
    color: var(--text-primary);
    cursor: pointer;
    margin: 20px;
    padding: 10px 20px;
    transition: background-color var(--transition-time);
}

.artist-card button:hover {
    background-color: var(--button-hover-bg);
}

.moreinfo {
    display: none;
    margin: 15px;
    font-size: 16px;
}