<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/44205180?v=4">
    <link href='https://fonts.googleapis.com/css?family=JetBrains+Mono' rel='stylesheet'>
    <link rel="stylesheet" href="../style/home.css">
</head>

<body>
    <div class="nav">
        <a href="/">Groupie Tracker</a>
    </div>

    <div class="search">
        <form action="/" method="post">
            <input list="search-bar" id="search" name="search" />
            <datalist id="search-bar">
                {{range $key, $value := .Option}}
                    <option value="{{$key}}"></option>
                {{end}}
            </datalist>
            <button type="submit">🔍</button>
        </form>
    </div>

    {{if .Notfound}}
        <div class="notfound">
            <center><h1>Artist not found</h1></center>
        </div>
    {{else}}
        <div class="containt">
        {{range .Data}}
                <div class="artist-card" onclick="toggleInfo('{{.Id}}')">
                    <div class="basicinfo" id="basicinfo-{{.Id}}">
                        <img src="{{.Image}}" alt="{{.Name}}">
                        <h2>{{.Name}}</h2>
                        <p>{{.Id}}</p>
                        <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
                        <p><strong>Creation Year:</strong> {{.CreationDate}}</p>
                    </div>
                    <div class="moreinfo" id="moreinfo-{{.Id}}">
                        <p><strong>Members:</strong> {{range .Members}}{{.}}, {{end}}</p>
                        <p><strong>Location:</strong> {{range .LocationST.Locations}} {{.}}, {{end}}</p>
                        <p><strong>Date:</strong> {{range .DateST.Dates}} {{.}}, {{end}}</p>
                        <p><strong>Relation:</strong> { {{range $key, $value := .RelationST.DatesLocation}}<strong>{{ $key }}:</strong> {{range $value}} {{.}}, {{end}}{{end}} }</p>
                    </div>
                </div>
            {{end}}
        </div>
    {{end}}

    <script>
        function toggleInfo(id) {
            var basicInfoDiv = document.getElementById('basicinfo-' + id);
            var moreInfoDiv = document.getElementById('moreinfo-' + id);

            if (basicInfoDiv && moreInfoDiv) {
                if (basicInfoDiv.style.display === 'none') {
                    basicInfoDiv.style.display = 'block';
                    moreInfoDiv.style.display = 'none';
                } else {
                    basicInfoDiv.style.display = 'none';
                    moreInfoDiv.style.display = 'block';
                }
            }
        }
    </script>
</body>

</html>
