<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="shortcut icon" href="../static/icon.png" />
    <title>Groupie-tracker</title>
</head>

<body>
    <a href="/"><img src="static/Xicone.png" alt=""></a>

    <div class="search">
        <form class="search-form" action="/" method="post">
            <p class="search-label">Search :</p> <input class="search-input" list="search-bar" name="search" />
            <datalist id="search-bar">
                {{range $key, $value := .Option}}
                <option value="{{$key}}"></option>
                {{end}}
            </datalist>
            <button class="search-button" type="submit">🔍</button>
        </form>
    </div>

    {{if .Notfound}}
    <div class="container">
        <div class="notfound">
            <h1>Artist not found</h1>
        </div>
    </div>
    {{else}}
    <div class="container">
        {{ range .Cards }}
        <form action="/bandsinfo?=id{{.Id}}" method="POST">
            <div class="item">
                <h3>{{.Name}}</h3>
                <img src="{{.Image}}" alt="{{.Name}}">
                <div class="btn">
                    <button type="submit" class="button">MORE</button>
                </div>
            </div>
        </form>
        {{ end }}
    </div>
    {{end}}
</body>

</html>